Backsight.Editor/EditingSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.7.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:mstns="http://tempuri.org/EditingSchema.xsd" xmlns="http://tempuri.org/EditingSchema.xsd" elementFormDefault="qualified" targetNamespace="http://tempuri.org/EditingSchema.xsd" id="EditingSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OperationClass" type="mstns:operation" />
  <xs:complexType name="operation" abstract="true">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="person">
    <xs:sequence />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="session">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="who" type="mstns:person" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="operations" type="mstns:operation" />
      <xs:element minOccurs="1" maxOccurs="1" name="layer" type="mstns:layerFacade" />
    </xs:sequence>
    <xs:attribute name="start" type="xs:dateTime" />
    <xs:attribute name="end" type="xs:dateTime" />
  </xs:complexType>
  <xs:complexType name="layerFacade">
    <xs:sequence />
    <xs:attribute name="id" type="xs:int" />
  </xs:complexType>
  <xs:complexType name="deletionOperation">
    <xs:complexContent mixed="false">
      <xs:extension base="mstns:operation">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="deletions" type="mstns:dataHandle" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="dataHandle">
    <xs:sequence />
    <xs:attribute name="job" type="xs:int" />
    <xs:attribute name="item" type="xs:int" />
  </xs:complexType>
  <xs:complexType name="parallelOperation">
    <xs:complexContent mixed="false">
      <xs:extension base="mstns:operation">
        <xs:sequence>
          <xs:element name="refLine" type="mstns:dataHandle" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="attachPoint">
    <xs:complexContent>
      <xs:extension base="mstns:operation">
        <xs:sequence>
          <xs:element name="line" type="mstns:dataHandle" minOccurs="1" maxOccurs="1" nillable="false" />
          <xs:element name="point" type="mstns:dataHandle" maxOccurs="1" minOccurs="1" nillable="false" />
        </xs:sequence>
        <xs:attribute name="positionRatio" type="xs:unsignedInt" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AttachPointClass" type="mstns:attachPoint">
  </xs:element>
  <xs:complexType name="point">
    <xs:sequence>
      <xs:element name="x" type="xs:unsignedLong" />
      <xs:element name="y" type="xs:unsignedLong" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineString">
    <xs:sequence>
      <xs:element name="points" type="mstns:point" minOccurs="2" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>